<div tpl-if="$msg">
    <p id="error-block">{{ $msg }}</p>
</div>
<div id="form">
    <form method="post" action="?cmd={{$action}}">
        <table class="add_table">
            <tr>
                <td>First name</td>
                <td>
                    <input type="text" value="{{$fname}}" name="firstName">
                </td>
            </tr>
            <tr>
                <td>Second name</td>
                <td>
                    <input type="text" value="{{$sname}}" name="lastName">
                </td>
            </tr>
            <tr>
                <td>Phone numbers</td>
                <td>
                    <input type="text" value="{{$phone1}}" name="phone1">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" value="{{$phone2}}" name="phone2">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" value="{{$phone3}}" name="phone3">
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <input type="submit" value="Submit" name="submit-button">
                </td>
            </tr>
        </table>

    </form>
</div>