<div tpl-if="$msg">
    <p id="added">{{ $msg }}</p>
</div>
<div id="list">
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number(s)</th>
            </tr>
        </thead>
        <tbody tpl-foreach="$users as $user">
            <tr>
                <td><a href="?cmd=change&amp;id={{$user->id}}">{{$user->first_name}}</a></td>
                <td>{{$user->last_name}}</td>
                <td>{{$user->phones}}</td>
            </tr>
        </tbody>
    </table>
</div>