body {
	width: 35em;
}
#main_menu {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#added {
	border: 1px solid #b5b5b5;
	padding: 3px 10px 3px 10px;
	color:#000;
	margin-left:3px;
	width: 380px;
	background-color:#edfff1;
}

#error-block {
	border: 1px solid #b5b5b5;
	padding: 3px 10px 3px 10px;
	color:#000;
	margin-left:3px;
	width: 380px;
	background-color:#FF9999;
}

#main_menu tr td {
    width: 200px;
}
#main_menu a {
	text-decoration: none;
	padding: 13px 84px 13px 85px;
	background-color: #85ce85;
	font-family: Arial, serif;
	color: #fff;
}

#list th {
	text-align: left;
    padding-right: 5px;
}

#list table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 700px;
	margin-left:3px;
}
#list tbody tr td{
    padding-top: 5px;
    max-width: 300px;
    word-wrap: break-word;
    font-family: Calibri, serif;
}
#list th {
    border-bottom: 1px solid #000;
}

#form input{
    width: 300px;
    margin-bottom: 2px;
}

#form input[type='submit'] {
    width: 150px;
}

