<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div id="main_menu">
        <table>
            <tr>
                <td>
                    <a href="?cmd=names" id="list-page-link">List</a>
                </td>
                <td>
                    <a id="add-page-link" href="?cmd=add">Add</a>
                </td>
            </tr>
        </table>
    </div>

    <div tpl-include="{{ $template }}"></div>

    <div id="footer">
        <br>
        <p>Maksim Nessin 179589IADB</p>
    </div>
</body>
</html>